.section {
    background-image: url("./page41.png");
    
    background-size: contain;
    /* background-size: 50%; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left;
    padding: 100px 100px 200px 200px ;
    
}
/* .page42{
  height: 100%;  
} */
/* .col1{
height: 10%;

} */
.page42 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="section"] {
    background-image: none;
  padding: 20%
  }
}
