.banner {
    background-image: url("./bg1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding: 100px 100px 100px 100px ;
    
}


.headerimg{
    /* width: 250px;
    position: center; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tullu{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 36%;

}
.te{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bannerp{
    padding-top: 10%;
    font-size: 17px;
    color: rgb(151 44 171);
    font-family: serif;
}
.gd{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5%;
}
